# Shared
NODE_ENV=development

# API
API_PORT=4000
WEB_ORIGIN=http://localhost:3000
JWT_SECRET=replace-with-a-long-random-secret
DATABASE_URL=postgresql://pulseops:pulseops@localhost:5432/pulseops?schema=public
REDIS_URL=redis://localhost:6379
ENABLE_WORKER=true

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_WS_URL=http://localhost:4000
NEXT_PUBLIC_DEMO_EMAIL=matias@pulseops.dev
NEXT_PUBLIC_DEMO_PASSWORD=pulseops-demo
